<!-- Experience Section -->
    <section id="exp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">You're next.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive center-block" src="img/exp/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Undergrad - UC Santa Cruz</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">B.S. in Robotics Engineering, minor in Electrical Engineering. Vice Chair of IEEE student chapter.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive center-block" src="img/exp/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sept 2017-Feb 2019</h4>
                                    <h4 class="subheading">SmartWires</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Swiss Army lab bitch</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive center-block" src="img/exp/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2019 - Jan 2020</h4>
                                    <h4 class="subheading">NASA Ames Research Center</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Electrical Engineering support for earth science research tools eMAS and PICARD</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive center-block" src="img/exp/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2020 - Present</h4>
                                    <h4 class="subheading">keeping busy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I actually want to work in robotics, so I made a robot. Zoo wee mama wow</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Get in loser
                                    <br>we're going
                                    <br>shopping!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
