<!-- Team Section -->
    <section id="personal" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted">Thanks for scrolling this far!</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-12"> <!-- changed from 4, for single col -->
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I take pride in my work. I prefer working with others, or working in a team for a common goal. I value my health, mental and physical, over my career, and I encourage you to do the same. <br />
My hobby, in short, is spending way too much time building things from scratch rather than buying them. I've always got a DIY project or two going on. Also, origami!</p>
                </div>
            </div>
        </div>
    </section>
